/* You can add global styles to this file, and also import other style files */
@font-face {
    font-family: Vazir;
    src: url('../node_modules/vazir-font/dist/Vazir.eot');
    src: url('../node_modules/vazir-font/dist/Vazir.eot?#iefix') format('embedded-opentype'),
         url('../node_modules/vazir-font/dist/Vazir.woff') format('woff'),
         url('../node_modules/vazir-font/dist/Vazir.ttf') format('truetype');
    font-weight: normal;
  }
        
  @font-face {
    font-family: Vazir;
    src: url('../node_modules/vazir-font/dist/Vazir-Bold.eot');
    src: url('../node_modules/vazir-font/dist/Vazir-Bold.eot?#iefix') format('embedded-opentype'),
         url('../node_modules/vazir-font/dist/Vazir-Bold.woff') format('woff'),
         url('../node_modules/vazir-font/dist/Vazir-Bold.ttf') format('truetype');
    font-weight: bold;
  }
  
  @font-face {
    font-family: Vazir;
    src: url('../node_modules/vazir-font/dist/Vazir-Light.eot');
    src: url('../node_modules/vazir-font/dist/Vazir-Light.eot?#iefix') format('embedded-opentype'),
         url('../node_modules/vazir-font/dist/Vazir-Light.woff') format('woff'),
         url('../node_modules/vazir-font/dist/Vazir-Light.ttf') format('truetype');
    font-weight: 300;
  }

body {
    margin: 0;
    font-family: Vazir;
}

h1,h2,h3,h4,h5,a,div,span,button,p,pre,b,i,strong {
    font-family: Vazir;
}

table,td,tr,.mat-menu-item {
    font-family: Vazir;
}

.ht-container {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%
  }
  
  .ht-sidenav {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 400px;
    background: rgba(224, 160, 221, 0.767);
  }
  
  // .mat-drawer-container {
  //     z-index: -1 !important;
  // }


  .ht-container {
        z-index: 1 !important;
    } 